@use 'sass:math';
@import 'mixins';

.cnt {
  display: flex;
  position: fixed;
  width: 100%;
  height: $header-height;
  top: 0;

  justify-content: space-between;
  padding: $header-padding 16px;

  background: $base-color;
  border-bottom: 1px solid rgba($base-color, 0.5);

  @include max-w-md {
    height: $mb-header-height;
    padding: $mb-header-padding 80px;
  }
}

.logo,
.popup {
  @include max-w-md {
    display: none;
  }
}
