.btn {
	// font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	width: 100%;
	font-family: inherit;
	font-style: inherit;
	font-weight: 400;
	border: 0;
	cursor: pointer;
	display: inline-block;
	align-items: center;
	text-align: center;
}
.btn_primary {
	color: #444444;
	background-color: #ffd951;
}
.btn_secondary {
	color: #333;
	background-color: transparent;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}

.google {
	background-color: white;
	background: #ffffff;
	box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.25);
	img {
		width: 24px;
		height: 25px;
		margin-right: 10px;
		margin-bottom: -4px;
	}
}

.kakao {
	background-color: yellow;
	background: #ffeb00;
	box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.25);
	img {
		width: 25px;
		height: 23px;
		margin-right: 10px;
		margin-bottom: -4px;
	}
}
.naver {
	background-color: rgb(4, 207, 92, 0.8);
	box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.25);
	img {
		width: 25px;
		height: 23px;
		margin-right: 10px;
		margin-bottom: -4px;
	}
}

.btn_small {
	width: 94px;
	height: 30px;
	font-size: 14px;
	font-weight: 500;
	line-height: 16px;
	border-radius: 10px;
}
.btn_medium {
	width: 100px;
	height: 40px;
	font-size: 20px;
	font-weight: normal;
	line-height: 23px;
	border-radius: 10px;
}
.btn_large {
	width: 100%;
	max-width: 800px;
	height: 60px;
	font-size: inherit;
	line-height: inheri;
	font-weight: bold;
	border-radius: 15px;
	font-family: inherit;
}
