.container {
	width: 200px;
	height: 60px;

	/* Brand color */
	background: #ffd951;
	border-radius: 15px;
	.long {
		width: 600px;
	}
}

.btn {
	width: 130px;
	height: 28px;
	margin: 16px 36px 16px 36px;
	padding: 0;
	border: none;
	background: inherit;

	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;
	/* identical to box height, or 117% */

	letter-spacing: -0.03em;
	color: #222222;
}
