@import 'mixins';

.container {
  // font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  width: 100%;
  max-width: $content-max-width;
  margin: 0 auto;
  flex-grow: 1;
  margin-top: $header-height;
  &.full-width {
    max-width: unset;
  }
  &.fixed-height {
    overflow: hidden;
  }

  @include max-w-md {
    padding: 0;
  }
}
