@import "mixins";

.head {
	height: 680px;
	display: flex;
	margin-left: 10%;
	flex-direction: column;
	justify-content: center;
	color: #ffffff;
	h1 {
		width: 90%;
		font-size: 70px;
		line-height: 1.1;
		letter-spacing: 0.01rem;
		text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
	}
	@include mobile {
		height: 380px;
		text-align: center;
		margin-left: 0;
		align-items: center;
		h1 {
			font-size: 24px;
			line-height: 24px;
			margin-top: 40px;
			width: 100%;
			letter-spacing: -0.02rem;
		}
	}
}

.browseHouseButton {
	background: #ffd951;
	box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	padding: 21px 46px;
	max-width: 228px;
	display: flex;
	justify-content: center;
	color: $font-black;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 28px;
	letter-spacing: -0.03rem;
	white-space: nowrap;
	margin-top: 24px;

	@include mobile {
		padding: 10px;
		max-width: 115px;
		font-size: 14px;
		line-height: 28px;
		margin-top: 20px;
	}
}

.content {
	margin: 0 auto;
	padding: 0 40px;

	@include mobile {
		padding: 0 30px;
	}
}

.top,
.middle {
	padding-top: 60px;
	text-align: center;
	h1 {
		padding-bottom: 20px;
	}
	@include mobile {
		padding-top: 40px;
		h1 {
			font-size: 22px;
			line-height: 26px;
		}
	}
}

.univ_image,
.type_image {
	height: 400px;
	cursor: pointer;
	position: relative;
	border-radius: 15px;
	@include mobile {
		border-radius: 10px;
	}
}

.type_image {
	@include mobile {
		height: 150px;
	}
}

.univ_image {
	@include mobile {
		height: 190px;
	}
}

.inner_text {
	@include ImageInnerText;
}

.bottom {
	padding: 60px 0px;
	@include mobile {
		padding: 48px 0px;
	}
}

.bottom_image {
	width: 100%;
	height: 500px;
	border-radius: 20px;
	cursor: pointer;
	@include mobile {
		width: 100%;
		height: 35vh;
		border-radius: 20px;
	}
}

.play_map_text {
	position: relative;
	top: 50%;
	left: 50%;
	width: 90%;
	transform: translate(-50%, -50%);
	letter-spacing: -0.003em;
	color: #ffffff;
	h1 {
		font-size: 50px;
		line-height: 26px;
		margin-bottom: 15px;
	}
	p {
		font-weight: normal;
		font-size: 20px;
		line-height: 26px;
	}
	@include mobile {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		h1 {
			font-size: 25px;
			line-height: 26px;
		}
		p {
			font-size: 14px;
			line-height: 18px;
		}
	}
}

.moreInfoButton {
	background: #ffffff;
	border-radius: 10px;
	width: 158px;
	height: 68px;
	color: $font-black;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 28px;
	letter-spacing: -0.02rem;

	@include mobile {
		width: 120px;
		height: 37px;
		font-size: 14px;
		line-height: 28px;
	}
}
