@mixin shadow {
  box-shadow: 1px 0px 10px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

@mixin hover {
  box-shadow: 0px 2px 7px 2px rgba(0, 0, 0, 0.4);
}

@mixin removeScroll {
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

@mixin noUserSelect {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin midPos {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin textEllipsis($length) {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  @supports (-webkit-line-clamp: 1) {
    display: -webkit-box;
    -webkit-line-clamp: $length;
    -webkit-box-orient: vertical;
    white-space: unset;
  }
  // @include max-w-md {
  //   overflow: unset;
  //   text-overflow: unset;
  //   white-space: unset;
  //   @supports (-webkit-line-clamp: 1) {
  //     -webkit-line-clamp: unset;
  //   }
  // }
}
