// breakpoints
$bp-sm: 640px;
$bp-md: 768px;
$bp-lg: 1024px;
$bp-xl: 1280px;
$bp-2xl: 1536px;

$base-font: 'Roboto';
$base-color: #ffcc71;
$sub-color: #00b1d2;
$font-black: #444444;
$font-black-solid: #000000;
$font-white: #ffffff;
$font-link: #00b1d2;
$black: #444444;
$border: #dddddd;
$footer-background: gray;

$header-padding: 0.5rem;
$mb-header-padding: 1.5rem;
$header-font-height: 0.5rem;
$mb-header-height: $mb-header-padding * 2;
$header-height: $header-padding * 2 + 2.5rem;

$highlight: rgba(255, 217, 81, 0.6);
$content-max-width: 80vw;
$gap-between-home-items: 15px;

$border-radius: 0px;
