.modal {
	display: flex;
	font-family: "Roboto";
	font-style: normal;
	font-weight: bold;
	color: #000000;
	display: inline-block;
	// align-items: center;
	// text-align: center;
}
.modal_primary {
	color: #444444;
	background: #ffffff;
	/* Brand color */
	border: 1px solid #ffd951;
	box-sizing: border-box;
	box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.15);
	border-radius: 20px;
	width: 100%;
	max-width: 800px;
	height: 920px;
}

.title_box {
	font-size: 32px;
	line-height: 37px;
	// align center
	margin: 0 auto;
	width: 100%;
}

.intro_box {
	width: 80%;
	font-size: 40px;
	font-weight: 500;
	line-height: 47px;
	margin: 30px auto 0px auto;
}

.select_box {
	margin: 0 auto;
	margin-top: 20px;
	width: 80%;
}

.warning_box {
	width: 80%;
	margin: 10px auto 40px auto;
	font-size: 16px;
	line-height: 19px;
	color: #999999;
}

.login_btn {
	width: 80%;
	margin: 0 auto;
	font-size: 24px;
	line-height: 28px;
}

.line_btw_login_btn {
	width: 80%;
	margin: 60px auto 40px auto;
	border-bottom: 1px solid #888888;
}

.social_btn {
	width: 80%;
	font-size: 20px;
	line-height: 23px;
	margin: 0 auto 20px auto;
}
