@import 'mixins';

.cnt {
  display: none;
  @include max-w-md {
    display: flex;
    position: fixed;
    justify-content: space-between;
    bottom: 0;
    width: 100%;
    background: $base-color;
    border-bottom: 1px solid #fff;
    padding: 0px 60px;
  }
}

.con {
  @include max-w-md {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      height: 30px;
      cursor: pointer;
    }
  }
}
